{% extends "base.html" %} {% block content %}
<section id="about">
    <h2>About Me</h2>
    <p>
        I build stuff with Rust, Python, JavaScript and other languages. I have
        a background in digital marketing, but I prefer being a software
        engineer. You've stumbled into my corner of the internet, where I write
        about my projects and thoughts on software development – read on to find
        out more about me.
    </p>
</section>
<section id="projects">
    <h2>Projects</h2>
    <p>
        I enjoy tinkering with little projects in my spare time, which you can
        mostly find on my
        <a href="https://github.com/lkdm">Github profile</a>. These are the ones
        I am most proud of:
    </p>
    <ul>
        <li>
            🔥
            <label>
                <a href="https://github.com/lkdm/proseforge" target="_blank">
                    Proseforge
                </a>
            </label>
            <em>Work in progress.</em> A structured fiction writing tool for
            desktop written in Rust and React, with a focus on simplicity and
            speed.
        </li>
        <li>
            💵
            <label>
                <a href="https://github.com/lkdm/mammon" target="_blank">
                    mammon_newtype
                </a>
            </label>
            A Rust library for type-safe money handling. It uses a fixed point
            integer at three decimal places to represent numerical values.
        </li>

        <li>
            📈
            <label>
                <a
                    href="https://lukm.dev/compoundinterest-react/"
                    target="_blank"
                >
                    React Compound Interest Calculator
                </a>
            </label>
            A clone of the Australian Government's Moneysmart Compound Interest
            Calculator in React, CSS Bootstrap, and Typescript.
        </li>
        <li>
            🐍
            <label>
                <a href="https://github.com/lkdm/Pynesweeper/" target="_blank"
                    >Pynesweeper</a
                >
            </label>
            A feature-complete clone of Microsoft Minesweeper written in Python,
            with an added Graph-based hexagon mode.
        </li>
    </ul>
</section>

{% endblock content %}
